/* ------Home page----- */
/* nav bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:  #354F52;
}

.nav-opt a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 20px;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
}

.login-container {
  display: flex;
  align-items: center; /* Align vertically in the center */
  margin-right: 5px; /* Adjust the margin to control the distance */
}

.nav-opt.login {
  font-size: 25px;
  margin: 0;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
  color: white;
}

/* styling for empty profile */
.round-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* styling for logo */
.logo-image {
  height: 150px;
  width: auto;
}

/* styling for home image */
.home-image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflowing content */
}

.home-image{
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  object-position: center center; /* Center the image */
}

/* tagline in image */
.text-tagline1 {
  position: absolute;
  top: 40%;
  right: 34%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 60px;
  font-family: 'Overlock', sans-serif;
  padding: 10px;
}

.text-tagline2 {
  position: absolute;
  top: 60%; /* Adjust the top property to position it below text-tagline1 */
  right: 48%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 35px;
  font-family: 'Nunito', light;
  padding: 10px;
  line-height: 0.5; /* Adjust as needed, lower values reduce spacing */
}

.text-tagline2-center{
  text-align: center;
}

/* about us section */
.section-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.about-us-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
  margin-left: 30px;
}

.section-content {
  flex-grow: 1; /* Allow the content to grow and fill the available space */
}

.about-us-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 340px;
}

.about-us-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 150px;
  margin-left: 65px;
}

.about-us-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
}

.section-link {
  background-color: #FFBD59;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Alegreya Sans', sans-serif; 
}

/* business owners section */
.business-owners-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
}

.business-owners-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 280px;
}

.business-owners-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 100px;
  margin-left: 65px;
}

.business-owners-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
  margin-right:50px;
}