/* ------Home page----- */
/* nav bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:  #354F52;
}

.nav-opt a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 20px;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
}

.login-container {
  display: flex;
  align-items: center; /* Align vertically in the center */
  margin-right: 5px; /* Adjust the margin to control the distance */
}

.nav-opt.login {
  font-size: 25px;
  margin: 0;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
  color: white;
}

/* styling for empty profile */
.round-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* styling for logo */
.logo-image {
  height: 150px;
  width: auto;
}

/* styling for home image */
.home-image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflowing content */
}

.home-image{
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  object-position: center center; /* Center the image */
}

/* tagline in image */
.text-tagline1 {
  position: absolute;
  top: 40%;
  right: 34%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 60px;
  font-family: 'Overlock', sans-serif;
  padding: 10px;
}

.text-tagline2 {
  position: absolute;
  top: 60%; /* Adjust the top property to position it below text-tagline1 */
  right: 48%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 35px;
  font-family: 'Nunito', light;
  padding: 10px;
  line-height: 0.5; /* Adjust as needed, lower values reduce spacing */
}

.text-tagline2-center{
  text-align: center;
}

/* about us section */
.section-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.about-us-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
  margin-left: 30px;
}

.section-content {
  flex-grow: 1; /* Allow the content to grow and fill the available space */
}

.about-us-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 340px;
}

.about-us-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 150px;
  margin-left: 65px;
}

.about-us-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
}

.section-link {
  background-color: #FFBD59;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Alegreya Sans', sans-serif; 
}

/* business owners section */
.business-owners-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
}

.business-owners-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 280px;
}

.business-owners-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 100px;
  margin-left: 65px;
}

.business-owners-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
  margin-right:50px;
}

/* support.html */
.support-container{
  text-align: center;
}

.support-image{
  width: 35%;
  height: 35%;
  display: inline-block;
  align-items: center;
}

.support-text{
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 40px;
  letter-spacing: -2px; /* to bring text closer */
}

.support-comment{
  border: 1px solid #000;
  /*margin-top: 100px;*/
  width: 35%;
  margin: 20px auto;
  padding: 10px 20px;
}

.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  display: inline-block;
  box-sizing: border-box;
}

.support-submitbtn{
  display: block;
  margin: 0 auto;  /* center the button */
  font-size: 17px;
  width: 20%;
  height: 40px;
  background-color: #ffff;
  border: 1px solid #000;
  transition: #F7EDF0 0.3s;
}

.support-submitbtn:hover{  /* hover effect for button */
  background-color: #FFBD59;
}

@media (max-width: 768px){
  
}

/* statements about stores */
.statement-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 35px;
}

.slide-title{
  color: black;
  font-size: 45px;
  font-family: 'Overlock', sans-serif;
}

/* slideshow section */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  font-family: 'Nunito', sans-serif;
  margin-right: 35px;
  margin-top: 0; /* Adjust the negative margin as needed */
}

.text a {
  color: white; 
  font-size: 40px;
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* styling for image & text */
/* Slide content container */
.slide-content {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

/* Adjust the image size if needed */
.slide-content img {
  width: 50%; /* Adjust as needed */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* Adjust the text styles */
.slide-content .text {
  padding-left: 100px; /* Add some space between the image and text */
  font-size: 16px; /* Adjust font size as needed */
  margin-right: 65px;
}

/* social media platforms */
.social-media-title{
  font-family: 'Algreya Sans';
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
}

.title-section, .social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:  #354F52;
  text-align: center;
}

.title-section{
  display: flex;
  justify-content: center;
}

.social-media-opt {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Algreya Sans';
  display: flex; /* Make container a flex container */
  align-items: center; /* Align items vertically */
  font-weight: 500;
}

.social-media-img {
  height: 40px; /* Adjust as needed */
  width: 40px; /* Adjust as needed */
  border-radius: 15px;
  margin-right: 10px; /* Add margin to separate image and text */
}

.social-media-text {
  font-size: 15px;
}

/* ------Sign-up page----- */
.sign-up-container {
  display: flex;
  align-items: center;
}

.sign-up-image {
  flex: 0 0 auto;
  margin-right: 150px; 
  margin-left: 50px;
  margin-top: 150px;
  width: 40%;
  height:40%;
}

.sign-up-text {
  flex: 1;
}

/* responsive app */
/* Common styles */
/* Add common styles that apply to all screen sizes here */

/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  /* Adjust styles for small screens here */
  .nav-opt a {
    font-size: 18px;
    margin: 0 10px;
  }
  .logo-image {
    height: 100px;
  }
  .text-tagline1 {
    font-size: 30px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
  }
  .text-tagline2 {
    font-size: 20px;
    right: 50%;
    transform: translateX(50%);
    top: 50%;
    text-align: center;
  }
  .about-us-title,
  .business-owners-title {
    font-size: 30px;
    text-align: center;
  }
  .about-us-text,
  .business-owners-text {
    font-size: 16px;
    text-align: center;
  }
  .section-link {
    font-size: 14px;
    padding: 8px 12px;
  }
  .support-image {
    width: 80%;
  }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for medium screens here */
  .nav-opt a {
    font-size: 20px;
  }
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
  /* Adjust styles for large screens here */
  .nav-opt a {
    font-size: 25px;
  }
  .text-tagline1 {
    font-size: 40px;
  }
  .text-tagline2 {
    font-size: 25px;
  }
  .about-us-title,
  .business-owners-title {
    font-size: 40px;
  }
  .about-us-text,
  .business-owners-text {
    font-size: 18px;
  }
}

/* subscribe_cust.html */
.subscribe_cust-container{
  text-align: center;
}

.subscribe_cust-image{
  width: 50%;
  height: 50%;
  margin-top: 100px;
  margin-left: 20px;
}

.subscribe_cust-header{
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  letter-spacing: 3px; /* to bring text closer */
}

.subscribe_cust-text{
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 40px;
  margin-top: -5%;
}

.subscribe_cust-box{
  width: 40%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 0 auto; /* to make the box centralised */ 
}

/*.subscribe_cust-comment{
  border: 1px solid #000;
  width: 35%;
  margin: 20px auto;
  padding: 10px 20px;
  margin-left: 33%;
}*/

.subscribe_cust-form{
  margin-top: 20px;
  text-align: left;
}

label{
  display: block;
  margin-bottom: 5px;
  color:black;
}

input{
  width: 50%;
  padding: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
}

button{
  display: block;
  margin: 0 auto; /* center the button */
  background-color: white;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: #F7EDF0 0.3s;
}

button:hover{ /* hover effect for button */
  background-color: #FFBD59;
}

@media (width: 600px){
  .subscribe_cust-container{
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 750px;
  }
  .subscribe_cust-image{
    width: 80%;
    margin-top: 90px;
  }
  .subscribe_cust-comment{
    border: 1px solid #000;
    width: 60%;
    margin: 20px auto;
    padding: 10px 20px;
    margin-left: 20%;
  }
  .subscribe_cust-submitbtn{
    margin: 10px 0;
    font-size: 17px;
    width: 25%;
    height: 40px;
    background-color: #ffff;
    border: 1px solid #000;
  }
}

/* login.html */
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-image{
  width: 50%;
  height: 50%;
  margin-top: 80px;
}

.login-header{
  color: #000;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-top: -5px;
}

.login-text{
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 30px;
  margin-top: -5%;
}

.login-box{
  width:60%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-form{
  margin-top: 20px;
}

label{
  display: block;
  margin-bottom: 5px;
  color:black;
}

input{
  width: 100%;
  padding: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
}

button{
  background-color: white;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: #F7EDF0 0.3s;
}

button:hover{
  background-color: #FFBD59;
}

/* welcome.html */
.welcome-container{
  text-align: center
}

h1{
  margin-top: 15%;
  font-size: 70px;
  font-family: 'Overlock', sans-serif;
  font-style: italic;
}

h2{
  margin-top: -3%;
  font-size: 40px;
  font-family: 'Nunito', light;
}

.welcome-img{
  width: 30%;
  height: 30%;
  margin-left: 50%;
}

