/* ------Home page----- */
/* nav bar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:  #354F52;
}

.nav-opt a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 20px;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
}

.login-container {
  display: flex;
  align-items: center; /* Align vertically in the center */
  margin-right: 5px; /* Adjust the margin to control the distance */
}

.nav-opt.login {
  font-size: 25px;
  margin: 0;
  padding: 0 10px;
  font-family: 'IM Fell French Canon SC', serif;
  color: white;
}

/* styling for empty profile */
.round-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* styling for logo */
.logo-image {
  height: 150px;
  width: auto;
}

/* styling for home image */
.home-image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflowing content */
}

.home-image{
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  object-position: center center; /* Center the image */
}

/* tagline in image */
.text-tagline1 {
  position: absolute;
  top: 40%;
  right: 34%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 60px;
  font-family: 'Overlock', sans-serif;
  padding: 10px;
}

.text-tagline2 {
  position: absolute;
  top: 60%; /* Adjust the top property to position it below text-tagline1 */
  right: 48%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 35px;
  font-family: 'Nunito', light;
  padding: 10px;
  line-height: 0.5; /* Adjust as needed, lower values reduce spacing */
}

.text-tagline2-center{
  text-align: center;
}

/* about us section */
.section-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.about-us-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
  margin-left: 30px;
}

.section-content {
  flex-grow: 1; /* Allow the content to grow and fill the available space */
}

.about-us-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 340px;
}

.about-us-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 150px;
  margin-left: 65px;
}

.about-us-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
}

.section-link {
  background-color: #FFBD59;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Alegreya Sans', sans-serif; 
}

/* business owners section */
.business-owners-image {
  width: 450px; /* Adjust the width of the image */
  height: 400px; /* Maintain aspect ratio */
  margin-right: 25px; /* Adjust the margin between image and text */
}

.business-owners-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-bottom: 15px; /* Adjust as needed */
  text-align: left;
  margin-left: 280px;
}

.business-owners-text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  margin-right: 100px;
  margin-left: 65px;
}

.business-owners-button {
  text-align: center;
  margin-top: 10px; /* Adjust the margin to control the distance from the text */
  margin-right:50px;
}

<<<<<<< HEAD
/* support.html */
.support-container{
  text-align: center;
}

.support-image{
  width: 35%;
  height: 35%;
  display: inline-block;
}

.support-text{
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 40px;
  letter-spacing: -2px; /* to bring text closer */
}

.support-comment{
  border: 1px solid #000;
  /*margin-top: 100px;*/
  width: 35%;
  margin: 20px auto;
  padding: 10px 20px;
}

.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  display: inline-block;
  box-sizing: border-box;
  

}

/*.comment-form button{
  margin: 10px 0;
}*/

.support-submitbtn{
  margin: 10px 0;
  font-size: 17px;
  width: 20%;
  height: 40px;
  background-color: #ffff;
  border: 1px solid #000;
=======
/* statements about stores */
.statement-title {
  color: black;
  font-family: 'Overlock', sans-serif;
  font-size: 60px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 35px;
}

.slide-title{
  color: black;
  font-size: 45px;
  font-family: 'Overlock', sans-serif;
}

/* slideshow section */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  font-family: 'Nunito', sans-serif;
  margin-right: 35px;
  margin-top: 0; /* Adjust the negative margin as needed */
}

.text a {
  color: white; 
  font-size: 40px;
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* styling for image & text */
/* Slide content container */
.slide-content {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

/* Adjust the image size if needed */
.slide-content img {
  width: 50%; /* Adjust as needed */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* Adjust the text styles */
.slide-content .text {
  padding-left: 100px; /* Add some space between the image and text */
  font-size: 16px; /* Adjust font size as needed */
  margin-right: 65px;
}

/* social media platforms */
.social-media-title{
  font-family: 'Algreya Sans';
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:  #354F52;
}

.social-media-opt {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Algreya Sans';
  display: flex; /* Make container a flex container */
  align-items: center; /* Align items vertically */
  font-weight: 500;
}

.social-media-img {
  height: 40px; /* Adjust as needed */
  width: 40px; /* Adjust as needed */
  border-radius: 15px;
  margin-right: 10px; /* Add margin to separate image and text */
}

.social-media-text {
  font-size: 15px;
>>>>>>> 58246ce8971d6dc830fe358b6c83aa99a6ae4190
}

/* ------Sign-up page----- */
.sign-up-container {
  display: flex;
  align-items: center;
}

.sign-up-image {
  flex: 0 0 auto;
  margin-right: 150px; 
  margin-left: 50px;
  margin-top: 150px;
  width: 40%;
  height:40%;
}

.sign-up-text {
  flex: 1;
}